<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../style/main.css" />
	</head>
	<body
		style="
			font-family: Arial, Helvetica, sans-serif;
			overflow: hidden;
			background-color: rgb(37, 37, 37);
		"
	>
		<ul class="serviceList">
			<div class="seriviceItem serviceItemConnected">User Settings</div>
			<div class="seriviceItem serviceItemConnected">Client Data</div>
			<div class="seriviceItem serviceItemDisconnected">Historic Feed</div>
			<div class="seriviceItem serviceItemDisconnected">KYC</div>
			<div class="seriviceItem serviceItemDisconnected">Rates</div>
		</ul>
		<!-- <script src="../lib/awesomplete.min.js"></script>
		<script src="../js/components/picker-component.js"></script> -->
	</body>
</html>
